In [1]:
import pandas as pd
import json

In [2]:
data = pd.read_csv('./langs.csv')

In [3]:
data.head()

,wals_code,iso_code,glottocode,Name,latitude,longitude,genus,family,macroarea,countrycodes,...,136B M in First Person Singular,109B Other Roles of Applied Objects,10B Nasal Vowels in West Africa,25B Zero Marking of A and P Arguments,21B Exponence of Tense-Aspect-Mood Inflection,108B Productivity of the Antipassive Construction,130B Cultural Categories of Languages with Identity of 'Finger' and 'Hand',58B Number of Possessive Nouns,79B Suppletion in Imperatives and Hortatives,Unnamed: 202
0,aab,NaN,NaN,Arapesh (Abu),-3.450000,142.950000,Kombio-Arapesh,Torricelli,NaN,PG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aar,aiw,aari1239,Aari,6.000000,36.583333,South Omotic,Afro-Asiatic,Africa,ET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aba,aau,abau1245,Abau,-4.000000,141.250000,Upper Sepik,Sepik,Papunesia,PG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,abb,shu,chad1249,Arabic (Chadian),13.833333,20.833333,Semitic,Afro-Asiatic,Africa,TD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abd,abi,abid1235,Abidji,5.666667,-4.583333,Kwa,Niger-Congo,Africa,CI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
newCsv = data[['wals_code', 'Name', 'genus', 'family']].copy()

In [5]:
newCsv.head()

  wals_code              Name           genus        family
0       aab     Arapesh (Abu)  Kombio-Arapesh    Torricelli
1       aar              Aari    South Omotic  Afro-Asiatic
2       aba              Abau     Upper Sepik         Sepik
3       abb  Arabic (Chadian)         Semitic  Afro-Asiatic
4       abd            Abidji             Kwa   Niger-Congo

In [11]:
newCsv = newCsv.rename(columns={'Name':'name', 'wals_code':'walsCode'})

In [12]:
# convert the dataframe to json, every row is a new record, with indentation of 4 s
newCsv.to_json(r'./langs.json', orient='records', indent=4)